<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.deepblue.libraries">

    <application
        android:name=".arouter.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".EditYamlActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".arouter.LoginActivity"/>
        <activity android:name=".arouter.Test1Activity"/>
        <activity android:name=".arouter.Test2Activity"/>
        <activity android:name=".arouter.Test3Activity"/>
        <activity android:name=".OtaActivity">
        </activity>
        <provider
            android:name="com.deepblue.appotalib.AppStatusContentProvider"
            android:authorities="app_status"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>